.DS_Store

org.pdtextensions.core.ui/bin/*
org.pdtextensions.core.ui/target/*
org.pdtextensions.core/bin/*
org.pdtextensions.core/target/*
org.pdtextensions.server/bin/*
org.pdtextensions.server/target/*
org.pdtextensions.server.ui/bin/*
org.pdtextensions.server.ui/target/*
org.pdtextensions.repos/bin/*
org.pdtextensions.repos/target/*
org.pdtextensions.repos.ui/bin/*
org.pdtextensions.repos.ui/target/*
org.pdtextensions.feature/target/*
org.pdtextensions.semanticanalysis/bin/*
org.pdtextensions.semanticanalysis/target/*
org.pdtextensions.semanticanalysis.ui/bin/*
org.pdtextensions.semanticanalysis.ui/target/*
org.pdtextensions.semanticanalysis.tests/bin/*
org.pdtextensions.semanticanalysis.tests/target/*
org.pdtextensions.core.tests/bin/*
org.pdtextensions.core.tests/target/*

target/
*.swp
copy.sh
*.m2e.core.prefs
bin
