<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.php.ui.preferences.CodeStylePreferencePage"
            class="org.pdtextensions.semanticanalysis.ui.preferences.csfixer.PHPCSFixerPreferencePage"
            id="org.pdtextensions.semanticanalysis.preferences.PHPCSFixerPreferencePage"
            name="CS Fixer">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.php.ui.propertyPages.CodeStylePreferencePage"
            class="org.pdtextensions.semanticanalysis.ui.preferences.csfixer.PHPCSFixerPreferencePage"
            id="org.pdtextensions.core.ui.propertyPages.PHPCSFixerPreferencePage"
            name="CS Fixer">
 			<enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject">
	               <instanceof
	                     value="org.eclipse.core.resources.IProject">
	               </instanceof>
	               <test
	                     property="org.eclipse.core.resources.projectNature"
	                     value="org.eclipse.php.core.PHPNature">
	               </test>
	            </adapt>
			</enabledWhen>
      </page>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.pdtextensions.core.ui.menu?after=additions">
            <command
                  commandId="org.pdtextensions.core.ui.command.phpcsfixer"
                  icon="ico/full/obj16/cs-fixer.png"
                  label="Run PHP-CS-Fixer"
                  style="push"
                  tooltip="Run PHP-CS-Fixer on files and folders">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <and>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="org.eclipse.php.core.PHPNature">
                              </test>
                           </and>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Run PHP-CS-Fixer on files and folders"
            id="org.pdtextensions.core.ui.command.phpcsfixer"
            name="Run PHP-CS-Fixer">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.pdtextensions.semanticanalysis.ui.handlers.RunPHPCSFixerHandler"
            commandId="org.pdtextensions.core.ui.command.phpcsfixer">
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.pdtextensions.core.ui.command.phpcsfixer"
            contextId="org.eclipse.php.core.phpsource"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Shift+N">
      </key>
   </extension>
   <extension
         point="org.pdtextensions.core.executableLauncher">
      <environmentFactory
            class="org.pdtextensions.semanticanalysis.ui.launch.FixerEnvironmentFactory"
            id="org.pdtextensions.semanticanalysis.fixerLauncherFactory">
      </environmentFactory>
   </extension>
   <extension
         point="org.eclipse.php.ui.quickFixProcessors">
         <quickFixProcessor
            class="org.pdtextensions.semanticanalysis.ui.quickfix.InterfaceMethodQuickFixProcessor"
            id="org.pdtextensions.core.ui.interfaceMethodQuickfixProcessor"
            name="Validation Processors">
         <handledMarkerTypes>
            <markerType
                  id="org.pdtextensions.semanticanalysis.problem">
            </markerType>
         </handledMarkerTypes>
      </quickFixProcessor>
   </extension>
   <extension point="org.eclipse.ui.ide.markerSupport">
      <markerTypeCategory name="PHP">
         <markerTypeReference id="org.pdtextensions.semanticanalysis.problem" />
      </markerTypeCategory>
   </extension>
</plugin>
