<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.pdtextensions.semanticanalysis.validator" name="PEX Semantic Analysis Extension" schema="schema/org.pdtextensions.semanticanalysis.validator.exsd"/>
   <extension
         id="org.pdtextensions.semanticanalysis.defaults"
         point="org.pdtextensions.semanticanalysis.validator">
      <category
            id="org.pdtextensions.semanticanalysis.defaultCategory"
            label="PHP Basic Analysis">
      </category>

   </extension>
   <extension
        point="org.eclipse.dltk.core.builder">
        <builder     
            priority="15"
            nature="org.eclipse.php.core.PHPNature"
            class="org.pdtextensions.semanticanalysis.internal.integration.DependencyBuilder">
        </builder>
    </extension>
    <extension point="org.eclipse.dltk.core.buildParticipant">
        <buildParticipant
            id="org.pdtextensions.validation.buildParticipant"
            class="org.pdtextensions.semanticanalysis.internal.integration.BuildParticipantFactory"
            name="org.pdtextensions.validation.buildParticipant"
            nature="org.eclipse.php.core.PHPNature">
            <requires id="org.eclipse.php.core.buildParticipant.parser" />
        </buildParticipant>
    </extension> 
    <extension
        id="org.pdtextensions.semanticanalysis.problem"
        name="Semantic analysis"
        point="org.eclipse.core.resources.markers">
        <persistent value="true"/>
        <super type="org.eclipse.core.resources.problemmarker"/>
        <attribute name="lineNumber"/>
        <attribute name="charStart"/>
        <attribute name="charEnd"/>
        <attribute name="message"/>
        <attribute name="priority"/>
        <attribute name="severity"/>
        <attribute name="userEditable" />
        <super type="org.eclipse.core.resources.textmarker" />
    </extension>
</plugin>
