<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
        id="org.pdtextensions.semanticanalysis.problem"
        name="PHP Semantic analysis"
        point="org.eclipse.core.resources.markers">
        <persistent value="true"/>
        <super type="org.eclipse.dltk.core.problem" />
    </extension>
</plugin>
