<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.wst.server.ui.serverImages">
		<image icon="/icons/server.gif" id="org.pdtextensions.server.ui.image.server" typeIds="org.pdtextensions.server.lhttpd.serverType" />
		<image icon="/icons/server.gif" id="org.pdtextensions.server.ui.image.runtime" typeIds="org.pdtextensions.server.lhttpd.runtimeType" />
		<image icon="/icons/server.gif" id="org.pdtextensions.server.ui.image.module" typeIds="org.pdtextensions.server.lhttpd.moduleType" />
	</extension>
	
	<extension point="org.eclipse.wst.server.ui.editorPages">
		<page
        	id="org.pdtextensions.server.ui.lhttpd.configuration.editor"
        	order="20"
        	name="%ServerConfigGeneral"
        	typeIds="org.pdtextensions.server.lhttpd.serverType"
       		class="org.pdtextensions.server.ui.internal.lhttpd.ServerConfigurationEditorPart">
        </page>
	</extension>
	
	<extension point="org.eclipse.wst.server.ui.wizardFragments">
        <fragment
            id="org.pdtextensions.server.lhttpd.runtimeType"
            typeIds="org.pdtextensions.server.lhttpd.runtimeType"
            class="org.pdtextensions.server.ui.internal.lhttpd.RuntimeWizardFragment"/>
    </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          class="org.pdtextensions.server.ui.internal.web.ProjectPropertyPage"
          id="org.pdtextensions.server.ui.web.propertyPage"
          name="PHP Web"
          selectionFilter="single">
       <enabledWhen>
          <and>
             <adapt
                   type="org.eclipse.core.resources.IProject">
             </adapt>
             <test
                   property="org.pdtextensions.server.expressions.hasFacet"
                   value="php.web.project">
             </test>
          </and>
       </enabledWhen>
    </page>
 </extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="org.pdtextensions.server.ui.internal.expressions.FacetTester"
          id="org.pdtextensions.server.expressions.facettester"
          namespace="org.pdtextensions.server.expressions"
          properties="hasFacet"
          type="java.lang.Object">
    </propertyTester>
 </extension>

</plugin>
