<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.php.core.completionContextResolvers">
      <resolver
            class="org.pdtextensions.core.codeassist.CompletionContextResolver">
      </resolver>
   </extension>
   <extension
         point="org.eclipse.php.core.completionStrategyFactories">
      <factory
            class="org.pdtextensions.core.codeassist.CompletionStrategyFactory">
      </factory>
   </extension>
   
    <extension
        id="org.pdtextensions.core.validation.MissingMethodMarker"
        name="Missing PHP Method"
        point="org.eclipse.core.resources.markers">
        <persistent value="true"/>
        <attribute name="lineNumber"/>
        <attribute name="charStart"/>
        <attribute name="charEnd"/>
        <attribute name="message"/>
        <attribute name="priority"/>
        <attribute name="severity"/>
        <super type="org.eclipse.core.resources.problemmarker"/>
    </extension> 
   
   <extension
         id="org.pdtextensions.core.validation.PEXValidator"
         name="PHP Semantic Analysis Validator"
         point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="org.pdtextensions.core.validation.PEXValidator"
            manual="true"
            markerId="org.pdtextensions.core.validation.MissingMethodMarker"
            sourceid="org.eclipse.php.core.phpsource"
            version="1">
            <include>
                <rules>
                    <contentType
                        id="org.eclipse.php.core.phpsource"></contentType>
                </rules>
            </include>
            <group
                id="org.eclipse.wst.sse.core.structuredModelGroup" />
      </validator>
   </extension>
</plugin>
