<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.dltk.core.buildParticipant">
      <buildParticipant
            class="org.pdtextensions.core.builder.PDTBuildParticipantFactory"
            id="org.pdtextensions.core.buildParticipant"
            name="PDT Builder"
            nature="org.eclipse.php.core.PHPNature">
      </buildParticipant>
   </extension>
   <extension
         point="org.eclipse.php.core.completionContextResolvers">
      <resolver
            class="org.pdtextensions.core.codeassist.CompletionContextResolver">
      </resolver>
   </extension>
   <extension
         point="org.eclipse.php.core.completionStrategyFactories">
      <factory
            class="org.pdtextensions.core.codeassist.CompletionStrategyFactory">
      </factory>
   </extension>

</plugin>
