<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="namespaceresolver" name="PDT Namespaceresolver" schema="schema/namespaceresolver.exsd"/>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.php.perspective">			
			<newWizardShortcut id="org.pdtextensions.core.ui.wizards.classes.ClassCreationWizard" />
   <newWizardShortcut
         id="org.pdtextensions.core.ui.wizards.interface">
   </newWizardShortcut>
		</perspectiveExtension>		
	</extension>	
	
   <extension
         point="org.eclipse.ui.newWizards">         
		<wizard
        canFinishEarly="false"
        category="org.eclipse.php.project.ui"
        class="org.pdtextensions.core.ui.wizards.NewClassWizard"
        hasPages="true"
        icon="ico/full/obj16/newclass_wiz.gif"
        id="org.pdtextensions.core.ui.wizards.classes.ClassCreationWizard"
        name="Class"
        project="false">
        </wizard>
  <wizard
        canFinishEarly="false"
        category="org.eclipse.php.project.ui"
        class="org.pdtextensions.core.ui.wizards.NewInterfaceWizard"
        hasPages="true"
        icon="ico/full/obj16/newint_wiz.gif"
        id="org.pdtextensions.core.ui.wizards.interface"
        name="Interface"
        project="false">
  </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.pdtextensions.core.ui.menu"
               label="PDT Extensions">
               <!--
            <command
                  commandId="org.pdtextensions.core.ui.command.phpcsfixer"
                  label="Test"
                  style="push">
            </command>
            -->
         </menu>
      </menuContribution>
      
      <menuContribution
            allPopups="false"
            locationURI="menu:sourceMenuId?before=sourceBegin">
         <command
               commandId="org.pdtextensions.core.ui.generategetters"
               label="Generate Getters and Setters"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.php.ui.phpContentType.definition">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:sourcePopupMenuId?after=sourceBegin">
         <command
               commandId="org.pdtextensions.core.ui.generategetters"
               label="Generate Getters and Setters"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.php.ui.phpContentType.definition">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.pdtextensions.core.ui.newclasstoolbaritem">
            <command
                  commandId="org.pdtextensions.core.ui.createnewclass"
                  icon="ico/full/obj16/class_obj.gif"
                  label="New class"
                  style="push"
                  tooltip="Create new PHP class">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.eclipse.php.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
         <toolbar
               id="org.pdtextensions.core.ui.newinterfcaetoolbaritem">
            <command
                  commandId="org.pdtextensions.core.ui.createnewinterface"
                  icon="ico/full/obj16/int_obj.gif"
                  label="New interface"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.eclipse.php.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      
   </extension>
   
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.pdtextensions.core.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>   

   
   <extension point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="Generate Getters and Setters"
            id="org.pdtextensions.core.ui.generategetters"
            name="Generate Getters and Setters">
      </command>
      <command
            id="org.pdtextensions.core.ui.createnewclass"
            name="Create new PHP class">
      </command>
      <command
            id="org.pdtextensions.core.ui.createnewinterface"
            name="Create new PHP interface">
      </command>
   </extension>
   
   
      <extension point="org.eclipse.ui.handlers">
      <handler
            class="org.pdtextensions.core.ui.actions.GenerateGettersHandler"
            commandId="org.pdtextensions.core.ui.generategetters">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.php.ui.phpContentType.definition">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="org.eclipse.php.ui.phpContentType.definition">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.pdtextensions.core.ui.actions.CreateNewClassHandler"
            commandId="org.pdtextensions.core.ui.createnewclass">
      </handler>
      <handler
            class="org.pdtextensions.core.ui.actions.CreateNewInterfaceHandler"
            commandId="org.pdtextensions.core.ui.createnewinterface">
      </handler>
   </extension>
   <extension
         id="org.pdtextensions.core.ui.scriptCompletionProposalComputer"
         point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer
            categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
            class="org.pdtextensions.core.ui.contentassist.ScriptCompletionProposalComputer"
            toolkitId="org.eclipse.php.core.PHPNature">
         <partition
               type="org.eclipse.php.PHP_DEFAULT">
         </partition>
      </scriptCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.pdtextensions.core.ui.generategetters"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+G">
      </key>
      <key
            commandId="org.pdtextensions.core.ui.createnewclass"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Shift+8">
      </key>
      <key
            commandId="org.pdtextensions.core.ui.createnewinterface"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Shift+9">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.pdtextensions.core.ui.expressions.NaturePropertyTester"
            id="org.pdtextensions.ui.expressions.deepNaturePropertyTester"
            namespace="org.pdtextensions"
            properties="parentProjectNature"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.php.ui.phpActionDelegator">
      <action
            actionId="org.eclipse.php.ui.actions.RenameElement"
            class="org.pdtextensions.core.ui.actions.refactoring.RenamePHPElementActionDelegate"
            id="org.pdtextensions.core.ui.actions.refactoring.RenamePHPElementActionDelegate"
            priority="9">
      </action>
   </extension>
</plugin>
