<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="formatterProfileContributor" name="Formatter Profile Contributor" schema="schema/formatterProfileContributor.exsd"/>
   <extension-point id="namespaceresolver" name="PDT Namespaceresolver" schema="schema/namespaceresolver.exsd"/>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.php.perspective">			
			<newWizardShortcut id="org.pdtextensions.core.ui.wizards.classes.ClassCreationWizard" />
   <newWizardShortcut
         id="org.pdtextensions.core.ui.wizards.interface">
   </newWizardShortcut>
		</perspectiveExtension>		
	</extension>	
	
   <extension
         point="org.eclipse.ui.newWizards">         
		<wizard
        	category="org.eclipse.php.project.ui"
        	class="org.pdtextensions.core.ui.wizards.NewClassWizard"
        	icon="ico/full/obj16/newclass_wiz.gif"
        	id="org.pdtextensions.core.ui.wizards.classes.ClassCreationWizard"
        	name="New Class"
        	project="false">
        </wizard>
  <wizard
        category="org.eclipse.php.project.ui"
        class="org.pdtextensions.core.ui.wizards.NewInterfaceWizard"
        icon="ico/full/obj16/newint_wiz.gif"
        id="org.pdtextensions.core.ui.wizards.interface"
        name="New Interface"
        project="false">
  </wizard>
   </extension>
	

   <extension
         point="org.eclipse.php.ui.phpFormatterPrefBlock">
      <block
            class="org.pdtextensions.core.ui.preferences.formatter.PDTFormatterConfigurationBlockWrapper"
            id="org.pdtextensions.core.ui.formatter.codeFormatterBlock"
            name="PDT Extensions Code Formatter">
      </block>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.GeneralTextEditor"
            class="org.pdtextensions.core.ui.preferences.formatter.IndentGuidePreferencePage"
            id="jp.sourceforge.pdt_tools.indentguide.preferences.PreferencePage"
            name="%indentpage.name">
      </page>
      <page
            category="org.eclipse.php.ui.preferences.PHPBasePreferencePage"
            class="org.pdtextensions.core.ui.preferences.SemanticAnalysisPreferencePage"
            id="org.pdtextensions.core.ui.preferences.semanticAnalysis"
            name="Semantic Analysis">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.pdtextensions.core.ui.preferences.SemanticAnalysisPreferencePage"
            id="org.pdtextensions.core.ui.propertyPages.semanticAnalysis"
            name="Semantic Analysis">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.pdtextensions.core.ui.menu"
               label="PDT Extensions">
               <!--
            <command
                  commandId="org.pdtextensions.core.ui.command.phpcsfixer"
                  label="Test"
                  style="push">
            </command>
            -->
         </menu>
      </menuContribution>
      
      <menuContribution
            allPopups="false"
            locationURI="menu:sourceMenuId?before=sourceBegin">
         <command
               commandId="org.pdtextensions.core.ui.generategetters"
               label="Generate Getters and Setters"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.php.ui.phpContentType.definition">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:sourcePopupMenuId?after=sourceBegin">
         <command
               commandId="org.pdtextensions.core.ui.generategetters"
               label="Generate Getters and Setters"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.php.ui.phpContentType.definition">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      
   </extension>
   
   
   <extension
         point="org.eclipse.php.ui.phpFormatterProcessor">
         <processor class="org.pdtextensions.core.ui.ast.Formatter"
            id="jp.sourceforge.pdt_tools.formatter.core.ast.Formatter"
            name="pdt_tools.formatter"/>
   </extension>
   
   <extension
         id="jp.sourceforge.pdt_tools.formatter.problem"
         name="%extension.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.pdtextensions.core.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>   

	<extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.pdtextensions.core.ui.Starter">
      </startup>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="Generate Getters and Setters"
            id="org.pdtextensions.core.ui.generategetters"
            name="Generate Getters and Setters">
      </command>
   </extension>
   
   
      <extension point="org.eclipse.ui.handlers">
      <handler
            class="org.pdtextensions.core.ui.actions.GenerateGettersHandler"
            commandId="org.pdtextensions.core.ui.generategetters">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.php.ui.phpContentType.definition">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="org.eclipse.php.ui.phpContentType.definition">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.php.ui.quickFixProcessors">
      <quickFixProcessor
            class="org.pdtextensions.core.ui.quickfix.InterfaceMethodQuickFixProcessor"
            id="org.pdtextensions.core.ui.quickFixProcessor"
            name="Implement missing Methods">
            <!--
         <handledMarkerTypes>
            <markerType
                  id="org.pdtextensions.core.validation.MissingMethodMarker">
            </markerType>
         </handledMarkerTypes>
         -->
      </quickFixProcessor>
      <quickFixProcessor
            class="org.pdtextensions.core.ui.quickfix.ReferenceQuickFixProcessor"
            id="org.pdtextensions.core.ui.referenceQuickFixProcessor">
      </quickFixProcessor>
   </extension>
   <extension
         id="org.pdtextensions.core.ui.scriptCompletionProposalComputer"
         point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer
            categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
            class="org.pdtextensions.core.ui.contentassist.ScriptCompletionProposalComputer"
            toolkitId="org.eclipse.php.core.PHPNature">
         <partition
               type="org.eclipse.php.PHP_DEFAULT">
         </partition>
      </scriptCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.pdtextensions.core.ui.generategetters"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+G">
      </key>
   </extension>
   
</plugin>
