<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.pdtextensions.core.ui.menu"
               label="PDT Extensions">
               <!--
            <command
                  commandId="org.pdtextensions.core.ui.command.phpcsfixer"
                  label="Test"
                  style="push">
            </command>
            -->
         </menu>
      </menuContribution>

   </extension>


   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.pdtextensions.core.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.pdtextensions.core.ui.expressions.NaturePropertyTester"
            id="org.pdtextensions.ui.expressions.deepNaturePropertyTester"
            namespace="org.pdtextensions"
            properties="parentProjectNature"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   
</plugin>
