<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.pdtextensions.ui.menu"
               label="PDT Extensions">
            <command
                  commandId="org.pdtextensions.ui.command.phpcsfixer"
                  icon="ico/full/obj16/cs-fixer.png"
                  label="Run PHP-CS-Fixer"
                  tooltip="Run PHP-CS-Fixer on files and folders">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Run PHP-CS-Fixer on files and folders"
            id="org.pdtextensions.ui.command.phpcsfixer"
            name="Run PHP-CS-Fixer">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.pdtextensions.ui.handlers.RunPHPCSFixerHandler"
            commandId="org.pdtextensions.ui.command.phpcsfixer">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.pdtextensions.ui.preferences.PDTExtensionsPreferencePage"
            id="org.pdtextensions.ui.preferences.PEXPreferencePage"
            name="PDT Extensions">
      </page>
      <page
            category="org.pdtextensions.ui.preferences.PEXPreferencePage"
            class="org.pdtextensions.ui.preferences.csfixer.PHPCSFixerPreferencePage"
            id="org.pdtextensions.ui.preferences.PHPCSFixerPreferencePage"
            name="CS Fixer">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.pdtextensions.ui.preferences.PDTExtensionsPreferencePage"
            id="org.pdtextensions.ui.preferences.PEXPropertyPage"
            name="PDT Extensions">
 			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">
				</adapt>
			</enabledWhen>
			<filter name="nature" value="org.eclipse.php.core.PHPNature" />
      </page>
      <page
            category="org.pdtextensions.ui.preferences.PEXPropertyPage"
            class="org.pdtextensions.ui.preferences.csfixer.PHPCSFixerPreferencePage"
            id="org.pdtextensions.ui.propertyPages.PHPCSFixerPreferencePage"
            name="CS Fixer">
 			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">
				</adapt>
			</enabledWhen>
			<filter name="nature" value="org.eclipse.php.core.PHPNature" />
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.pdtextensions.ui.preferences.PEXPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.pdtextensions.ui.command.phpcsfixer"
            contextId="org.eclipse.php.core.phpsource"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+P">
      </key>
   </extension>

</plugin>
